<h2>
  Recent Users
</h2>
<ul>
  <% for user in @users %>
    <li><%= link_to user.name, user %></li>
  <% end %>
</ul>
<h2>
  Recent Lists
</h2>
<ul>
  <% for list in @lists %>
    <li><%= link_to list.name, list %></li>
  <% end %>
</ul>
<h2>
  Recent Books
</h2>
<ul>
  <% for book in @books %>
    <li><%= link_to_purchase_book book.title %></li>
  <% end %>
</ul>